.PersonalProjectsWrapper {
    
}
.PersonalProjectsWrapper .personalProjects ul {
    list-style: none;
}
.PersonalProjectsWrapper .personalProjects ul .projectBlock {
    margin: 0.5rem 0rem;
}
.PersonalProjectsWrapper .personalProjects ul .projectBlock .otherdetails {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    font-weight: 200;
    padding-left: 1rem;
}
.PersonalProjectsWrapper .personalProjects ul .projectBlock .otherdetails ul {
    display: flex;
    padding-top: 0.3rem;
}
.PersonalProjectsWrapper .personalProjects ul .projectBlock .otherdetails ul li {
    padding: 0.2rem 0.4rem;
    margin: 0 0.4rem 0 0;
    background-color: #ff4081;
    border-radius: 1rem;
    color: #fff;
    font-weight: 400;
}
@media screen and (max-width: 768px) {
    .PersonalProjectsWrapper > h2 {
        text-align: center;
    }
}