.ProjectsWrapper {
    padding: 1rem 0rem 0rem 3.5rem;
}
@media screen and (max-width: 768px) {
    .ProjectsWrapper {
        padding-left: 0;
    }
    .ProjectsWrapper > h2 {
        text-align: center;
    }
}