.otherProfileWrapper {
  padding: 1rem 0rem 0rem 3.5rem;
  margin-bottom: 1rem;
}
.otherProfileWrapper .profiles {
  display: flex;
  flex-wrap: wrap;
}
.otherProfileWrapper .profiles .profile {
    background-color: #f44336;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 3rem;
}
.otherProfileWrapper .profiles .profile svg {
    margin-right: 0.5rem;
}
@media screen and (max-width: 768px) {
  .otherProfileWrapper {
    padding-left: 0;
  }
  .otherProfileWrapper > h2 {
    text-align: center;
  }
  .otherProfileWrapper .profiles {
      justify-content: center;
  }
}
