.experienceWithCompany {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    margin-bottom: 2rem;
}
.experienceWithCompany .heading {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.3rem;
}
.experienceWithCompany .heading .companyDetails h3 {
    font-weight: 600;
    font-size: 1.4rem;
}
.experienceWithCompany .heading .companyDetails p {
    font-weight: 300;
    font-size: 0.8rem;
}
.experienceWithCompany .heading img {
    height: 40px;
    width: 40px;
}
.experienceWithCompany .heading .companyDetails {
    padding-left: 1rem;
}
.experienceWithCompany .workExperience {
    padding-left: 3.5rem;
}
.experienceWithCompany .workExperience .individualExp {
    margin-bottom: 0.5rem;
}
.experienceWithCompany .workExperience .individualExp h3 {
    font-weight: 400;
    font-size: 1.2rem;
}
.experienceWithCompany .workExperience .individualExp p {
    font-weight: 200;
    font-size: 0.8rem;
    text-align: justify;
}
.experienceWithCompany .workExperience .individualExp p.time {
    font-weight: 400;
}
.experienceWithCompany .workExperience .individualExp ul {
    font-weight: 200;
    font-size: 0.8rem;
    padding-left: 1rem;
}
.experienceWithCompany:last-child {
    margin-bottom: 0;
}
@media screen and (max-width: 768px) {
    .experienceWithCompany .workExperience .individualExp p, .experienceWithCompany .workExperience .individualExp ul {
        padding-right: 1rem;
    }
}