.experienceWrapper {
    padding: 1rem 0rem 1rem 3.5rem;
}
@media screen and (max-width: 768px) {
    .experienceWrapper {
        padding-left: 0;
    }
    .experienceWrapper > h2 {
        text-align: center;
    }
}