.skillsWrapper {
    padding: 1rem 0rem 1rem 3.5rem;
}
.skillsWrapper .skillsBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.skillsWrapper .skillsBlock .skill {
    padding: 0.5rem 1rem;
    background-color: #3f51b5;
    margin: 0.25rem;
    color: #fff;
    border-radius: 2rem;
}
.skillsWrapper .skillsBlock .skill svg {
    margin-right: 0.25rem;
}
.skillsWrapper .skillsBlock .skill:hover {
    background-color: #0c26b8;
}
@media screen and (max-width: 768px) {
    .skillsWrapper {
        padding: 1rem 0rem 1rem 0rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .skillsWrapper .skillsBlock {
        justify-content: center;
    }
}