.UserProfileWrapper {
    height: 30em;
    width: 100%;
    background: linear-gradient(217deg, rgba(235, 125, 122, 0.8), rgba(255,0,0,.8));
}
.UserProfileWrapper .userDisplayBlock {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding-left: 4rem;
}
.UserProfileWrapper .userDisplayBlock .info {
    font-size: 0.8rem;
    color: #000;
}
.UserProfileWrapper .userDisplayBlock .links a {
    padding: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    height: 40px;
    width: 40px;
    text-align: center;
}
.UserProfileWrapper .userDisplayBlock .links a.mail {
    color: #dd4b39;
}
.UserProfileWrapper .userDisplayBlock .links a.linkedin {
    color: #0e76ae;
}
.UserProfileWrapper .userDisplayBlock .links a.github {
    color: #333;
}
.UserProfileWrapper .userDisplayBlock .userName {
    font-size: 3rem;
    color: #fff;
}
.UserProfileWrapper .userDisplayBlock .downloadResume {
    width: fit-content;
    padding: 0.5rem 1.5rem;
    margin-top: 1rem;
    color: #fff;
    background-color: #3f51b5;
    font-size: 1.5rem;
    border-radius: 6px;
}
@media screen and (max-width: 768px) {
    .UserProfileWrapper {
        height: calc(100vh);
    }
    .UserProfileWrapper .userDisplayBlock {
        padding-left: 0.5rem;
        align-items: center;
    }
    .UserProfileWrapper .userDisplayBlock .downloadResume {
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }
    .UserProfileWrapper .userDisplayBlock .links a { 
        font-size: 1.2rem;
    }
    .UserProfileWrapper .userDisplayBlock .links { 
        padding-bottom: 2rem;
    }
}
